.container_dakar {
    background-image: url(../assets/Dakar_image.jpg);
    width: auto;
    height: 800px;
}

.text_dakar{
    columns: 5;
    border-radius: 2.5%;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 110px;
    height: 90px;
    padding-top: 30px;
    background-color: white;
}

.clickk_dakar{
    background-color: black;
    padding-right: 50px;
    text-decoration: none;
    border-radius: 5%;
    margin-right: 30px;
}

.clickk_dakar:hover{
    background-color: blue;
}

.image_dakar{
    margin-top: 110px;
    border-radius: 1%;
    height: 370px;
    width: 315px;
}

.news_dakar {
    display: flex;
    justify-content: space-around;
    margin: 100px 37px 80px;
}

.event_dakar{
    display: flex;
    justify-content: space-around;
    margin: 0px 37px;
}

.images_dakar {
    overflow: hidden;
    position: relative; 
}

.images_dakar img {
    transition: transform 0.3s ease-in-out 0s ;
}

.images_dakar:hover img {
    transform : scale(1.1)
}

.dakar_tile {
    transition: text-decoration 0.3s ease-in-out 0s;
    margin-top: 15px;
}

.dakar_tile:hover {
    text-decoration: underline;
}

.main_dakar
{
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-top: 150px;
    margin-bottom: 150px;
    border-top: 1px solid rgb(230, 230, 230);
    margin-right: 50px;
    padding-top: 40px;
}

.cap_dakar{
    margin-left: 111px;
}

.event_dakar{
    margin: 10px 50px;
}

