.hr-custom {
    border: 0;
    border-top: 1px solid #fff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h4 {
    color: aqua;
    margin: 0; 
    font-size: 18px; 
    line-height: 1.5; 
  }
  
 
  .menu-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  
  .menu-bar ul li {
    color: #fff; 
  }
  
  
  .social-media-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
  }
  
  .social-media-logos a {
    margin: 0 12.5px;
  }
  
  .social-logo {
    width: 40px; 
    height: auto;
    border: none; 
    filter: brightness(500%) contrast(200%);
  }
  .footer-links {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    letter-spacing: 2px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 3px;
  }
  
  .footer-links a:hover {
    color: #00e1ff; 
  }
  .footer-bottom {
    text-align: center; 
    margin-top: 20px; 
  }
  
  .footer-text {
    font-size: 14px;
    color: #fff; 
  }
  
  .footer-links {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    letter-spacing: 2px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
  }
  
  .footer-links a:hover {
    color: #00e1ff; 
  }
  .social-logo {
    width: 40px; 
    height: auto;
    border: none; 
    filter: brightness(105%) contrast(150%);
    border-radius: 10px;
    margin-top: 20px;
  }