.title-history {
    font-size: 55px;
    margin-left: -0px;
    font-weight: bold;
}
.title-summary {
    font-size: 25px;
    margin-top: -30px;
    margin-left: -0px;
    font-weight: bold;
}
.thenumberof-ethen {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    color: gray;
    margin-left: -540px;
}
.allof-olympics {
    background-color: gainsboro;
}
.olps1896 {
    height: 532px;
    width: 1100px;
}
.para-titleplps1 {
    font-size: 20px;
    margin-top: 40px;
    text-indent: 10px;
    margin-left: 85px;
    margin-right: 85px;
}
.para-titleplps2 {
    font-size: 20px;
    margin-top: 20px;
    text-indent: 10px;
    margin-left: 85px;
    margin-right: 85px;
}
.olps1900 {
    height: 532px;
    width: 1100px;
}
.olps1904 {
    height: 532px;
    width: 1100px;
}
.olps1906 {
    height: 532px;
    width: 1100px;
}
.olps1908 {
    height: 532px;
    width: 1100px;
}
.olps1912 {
    height: 532px;
    width: 1100px;
}
.olps1924 {
    height: 532px;
    width: 1241px;
}
.olps1932 {
    height: 532px;
    width: 1100px;
}
.olps1948 {
    height: 532px;
    width: 1100px;
}
.olps1960 {
    height: 532px;
    width: 1100px;
}
.olps1976 {
    height: 532px;
    width: 1100px;
}
.olps1988 {
    height: 532px;
    width: 1100px;
}
.olps1998 {
    height: 532px;
    width: 1100px;
}
.olps2008 {
    height: 532px;
    width: 1100px;
}
.olps2018 {
    height: 532px;
    width: 1100px;
}
.olps2022 {
    height: 532px;
    width: 1100px;
}
.olps2024 {
    height: 532px;
    width: 1100px;
}
.special-logo {
   max-width: 1141px;
   margin-top: -10px;
   margin-bottom: -100px;
}
.thefirst-olympics {
    margin-top: 100px;
}