.para-timeout {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
}
.cdt-olympics {
    font-size: 20px;
    line-height: 1;
    letter-spacing: 3px;
    font-weight: bold;
    color: rgb(97, 97, 231);
    font-weight: bold;
}