.table-container {
    margin: auto;
    max-width: 1241px;
    overflow: hidden;
}
  
.custom-table {
    width: 1220px;
    border-collapse: collapse;
    margin-top: 20px;
    margin-top: 60px;
    margin-bottom: 100px;
    margin-left: 10px;
}
  
.custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
  
.custom-table th {
    background-color: #f2f2f2;
}
.world-record {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.2;
}

.images_sta{
    display:  flex;
    justify-content: space-around;
    margin: 10px 35px;
}

.bg{
    background-color: rgb(235, 235, 235);
}

.sta_images{
    border-top: 1px solid rgb(230, 230, 230);
    padding-top: 30px;
    margin: 100px 0px;

}