.Keepmoving {
    float: left;
    font-size: 95px;
    font-weight: bold;
    text-align: left;
    letter-spacing: -6px;
    color: black;
  }
  
  .Text-moving {
    display: flex;
    justify-content: space-between; /* Lề trái và lề phải */
    align-items: center;
    height: 100vh;
    padding: 0 20px; /* Khoảng cách giữa lề trái và lề phải */
  }
  
  .Information {
    text-align: left; /* Căn trái cho phần h1 */
    flex: 1; /* Để h1 chiếm lề trái */
  }
  
  .Information h1 {
    margin: 0; /* Loại bỏ margin mặc định */
  }
  
  .Information > div {
    text-align: right; /* Căn phải cho thẻ p */
    flex: 1; /* Để thẻ p chiếm lề phải */
  }
  
  .Information > div p {
    font-size: 20px;
  }
  .Meetwinner {
    font-size: 90px;
    font-weight: bold;
    letter-spacing: -5px;
    color: black;
    margin-left: -370px;
  }
  .Smith img {
    height: 331px;
    width: 587px;
    margin-left: -680px;
  }


  .profilename-smith p {
    display: flex;
  }
  .profilename-michael {
    display: flex;
  }
  .profile-names {
    text-decoration: none; /* Bỏ gạch dưới mặc định */
    transition: text-decoration 0.3s; /* Hiệu ứng chuyển đổi mềm mại */
    font-size: 25px;
    font-weight: bold;
  }
  .Smith {
    margin-left: 25px;
  }
  .bxmsmith {
    border-radius: 20px; /* Bo tròn viền */
    background-color: orange;
    color: black;
    border: 1px solid orange;
    margin-top: 20px;
    font-size: 16px;
    width: 40px;
    padding-left: 2.5px;
    margin-left: 70px;
   
  }
  
  
  .profile-name {
    text-decoration: none; /* Bỏ gạch dưới mặc định */
    transition: text-decoration 0.3s; /* Hiệu ứng chuyển đổi mềm mại */
    font-size: 25px;
    font-weight: bold;
  }
  
  .profile-name:hover {
    text-decoration: underline; /* Hiển thị gạch dưới khi hover */
  }
  .Miharu img {
    height: 331px;
    width: 587px;
    margin-right: 70px;
  }
  .Miharu {
    text-align: right;
    margin-right: 25px;
  }
  .Miharu p {
    display: block;
    margin-right: 345px;
  }
  .bxmmiharu {
    border-radius: 20px; /* Bo tròn viền */
    background-color: orange;
    color: black;
    border: 1px solid orange;
    margin-top: 20px;
    font-size: 16px;
    width: 40px;
    padding-right: 2.5px;
    text-align: right;
    margin-left: 760px;
  }
  .profilemiharu {
    margin-left: 655px;
  }
  .Michael img {
    height: 331px;
    width: 587px;
    margin-left: -680px;
  }
  .watchvideo {
    margin-left: 30px;
    margin-top: 40px;
    margin-left: -145px;
  }
  .Michael p {
    display: flex;
  }
  .Michael {
    margin-left: 25px;
    margin-top: 150px;
  }
  .Eleonora img {
    height: 331px;
    width: 587px;
    margin-right: 70px;
  }
  .Eleonora {
    text-align: right;
    margin-right: 25px;
  }
  .Eleonora p {
    display: block;
    margin-right: 345px;
  }
  .profile-nameeleonora {
    text-decoration: none; /* Bỏ gạch dưới mặc định */
    transition: text-decoration 0.3s; /* Hiệu ứng chuyển đổi mềm mại */
    font-size: 25px;
    font-weight: bold;
  }
  .profile-nameeleonora:hover {
    text-decoration: underline;
  }
  .kapetanaki {
    margin-right: 100px;
  }
  .Skateboarding {
    border-radius: 20px; /* Bo tròn viền */
    background-color: orange;
    color: black;
    border: 1px solid orange;
    margin-top: 20px;
    font-size: 16px;
    width: 40px;
    padding-right: 2.5px;
    text-align: right;
    margin-left: 650px;
  }
  
  
  .black-square {
    width: 1421px;
    height: 777px;
    background-color: black;
    color: white; /* Màu chữ tùy chọn */
    padding: 20px; /* Khoảng cách nội dung từ viền */
    max-width: 2000px;
    margin-top: 100px;
  }
  
  .info {
    padding: 20px;
    
  }
  .wolrdimg {
    height: 633px;
    width: 633px;
    margin-top: 50px;
  }
  
  .bigtext {
    color: white;
    font-weight: bold;
    letter-spacing: -3px;
    margin-left: 60px;
  }
  .bigtext p {
    margin-bottom: 0px;
    line-height: 1.2;
  }
  .text1 {
    margin-top: -10px; /* Điều chỉnh khoảng cách từ dưới lên */
  }
  
  .text2 {
    margin-top: -20px; /* Điều chỉnh khoảng cách từ dưới lên */
  }
  
  .text3 {
    margin-top: -10px; /* Điều chỉnh khoảng cách từ dưới lên */
  }
  .tinitext {
    font-size: 21px; /* Điều chỉnh kích thước font */
    line-height: 1.5; 
    overflow: hidden;
    margin-left: 60px;
    margin-top: 30px;
    font-weight: normal;
  }
  .custom-buttons {
    padding: 10px 20px;
    border: 2px solid white;
    background-color: white;
    color: black;
    border-radius: 35px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease; /* Hiệu ứng chuyển đổi màu khi hover */
    margin-left: 65px;
    width: 197px;
    height: 56px;
  }
  
  /* Pseudo-class cho hover */
  .custom-buttons:hover {
    background-color: black;
    color: white;
    border-color: white;
  }
  .startnow {
    margin-top: 200px;
    color: black;
    font-size: 90px;
    margin-left: -265px;
    font-weight: bold;
    letter-spacing: -7px;
  }
  .video-container {
    max-width: 1241px;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 400px;
    margin-bottom: 100px;
  }
  .arrowdown {
    color: black;
    font-size: 70px;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    margin-left: 200px;
  }
  .somenews {
    margin-top: 100px;
    color: black;
    font-size: 90px;
    margin-left: -400px;
    font-weight: bold;
    letter-spacing: -7px;
  }
  
  .image-container {
    overflow: hidden;
    position: relative;
    width: 688px; /* Kích thước ảnh */
    height: 388px; /* Kích thước ảnh */
    margin-left: 100px;
    margin-top: 45px;
    margin-bottom: 20px;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
  }
  
  .image-container:hover img {
    transform: scale(1.1); /* Tăng kích thước ảnh khi chỉ chuột vào */
  }
  /* .showinfo {
    font-size: 27px;
    margin-left: 25px;
    transition: text-decoration 0.3s ease-in-out;
  } */
  
  /* .showinfo:hover {
    text-decoration: underline; 
  } */
  
  .dual-container {
    display: flex;
    margin-bottom: 20px;
  }
  
  .images-container {
    overflow: hidden;
    position: relative;
    width: 495px; /* Kích thước ảnh */
    height: 274px; /* Kích thước ảnh */
    margin-left: 850px;
    margin-right: -170px; /* Khoảng cách giữa các dual-container */
    margin-top: -507px;
    max-width: 1241px;
  }
  
  .images-container img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
  }
  
  .images-container:hover img {
    transform: scale(1.1); /* Tăng kích thước ảnh khi chỉ chuột vào */
  }
  
  .showinfo {
    font-size: 28px;
    margin-left: -555px;
    transition: text-decoration 0.3s ease-in-out;
  }
  
  .showinfo:hover {
    text-decoration: underline; 
  }
  
  .showinfos {
    font-size: 27px;
    margin-left: 25px;
    transition: text-decoration 0.3s ease-in-out;
    margin-top: -220px;
    margin-left: -325px;
  }
  
  
  .showinfos:hover {
    text-decoration: underline; 
  }
