.title_marco{
    margin: 75px 50px 60px;
}

.new_marco{
    margin-left: 50px;
}

.image_marco{
    margin-top: 100px;
}

.marco_new{
    display:  flex;
    justify-content: space-around;
    margin-top: 100px;
}

.news_marco_other{
    display: flex;
    justify-content: space-around;
}

.news_marco_other{
    border-top: 1px solid rgb(230, 230, 230);
    margin-top: 50px;
    padding-top: 20px;
}

.textst_marco{
    padding-left: 10px;
    transition: text-decoration 0.3s ease-in-out 0s;
}

.textst_marco:hover{
    text-decoration: underline;
}
.alpine{
    display:  flex;
    justify-content: space-evenly;
    border: 1px solid rgb(210, 210, 210);
    height:  80px;
    width: 310px;
    padding-top:3.5px ;
    padding-right: 50px;
}

.alpine_skiing{
    display: flex;
    justify-content: start;
    margin-left: 50px;
    margin-top:  30px;
}

.title_marco{
    margin-top: 12px;
}

